.icon {
    display: flex;
    align-items: center;
}

    .icon::before {
        width: 20px;
        height: 20px;
        display: inline-block;
        content: ' ';
        background-size: contain;
    }

.notification::before {
    background-image: url('../image/icon/notification.png');
}

.paragraph::before {
    background-image: url('../image/icon/paragraph.png');
}