<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/icon.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
</head>
<body>
    <div class="top">
        <div class="info">
            <div class="icon paragraph button-shift-paragraph">

            </div>
            <div class="user-info">
                @* if authorized *@
                <div class="icon notification">

                </div>
                <div class="profile">

                </div>
                <div class="logout">

                </div>
                @* if not authorized *@
                <div class="login">
                    <a href="/User/Login">Login</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        @RenderBody()
    </div>
    <div class="footer">

    </div>
</body>
</html>