@{
    bool IsAuthenticated=false;
    bool IsAdmin=false;
    if (User.Identity.IsAuthenticated)
    {
        IsAuthenticated = true;
    }
    if (User.Claims?.SingleOrDefault(x => x.Type == ClaimsIdentity.DefaultRoleClaimType)?.Value == "Admin")
    {
        IsAdmin = true;
    }
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/icon.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap-grid.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap-reboot.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap-utilities.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/scripts/ShiftMenuScript.js"></script>
    <script src="~/lib/scripts/NotificationScript.js"></script>
</head>
<body>
    <div class="icon paragraph button-shift-paragraph">
    </div>
    <div class="top">
        <div class="info">
            <div class="navigation">
                @if (IsAdmin)
                {
                    <div class="nav-element">
                        <a href="/Apartment/CreateApartment">Add apartment</a>
                    </div>
                }
                <div class="nav-element">
                    <a class="no-decoration" href="/Home/Index">Apartments</a>
                </div>
            </div>
            <div class="user-info">
                @if (IsAuthenticated)
                {
                    <div class="icon notification position-relative nav-element">
                        <span class="position-absolute top-100 translate-middle badge rounded-pill bg-danger notify-counter hide">
                        </span>
                        <div class="notification-popup hide">
                            <div class="notification-element template hide">
                                <div class="notification-content">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile nav-element">
                        <a class="no-decoration" href="/User/Profile">Profile</a>
                    </div>
                    <div class="logout nav-element">
                        <a class="no-decoration" href="/User/Logout">Logout</a>
                    </div>
                }
                else
                {
                    <div class="login nav-element">
                        <a class="no-decoration" href="/User/Login">Login</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="content">
        @RenderBody()
    </div>
    <div class="footer">
    </div>
</body>
</html>