@model List<ApartmentInfoViewModel>
@{
    Layout = "_Layout";

    bool IsAuthenticated = false;
    bool IsAdmin = false;
    if (User.Identity.IsAuthenticated)
    {
        IsAuthenticated = true;
    }
    if (User.Claims?.SingleOrDefault(x => x.Type == ClaimsIdentity.DefaultRoleClaimType)?.Value == "Admin")
    {
        IsAdmin = true;
    }
}

<div style="display:flex; flex-direction:row;">
    <div class="side">
    </div>
    <div class="apartments-gallery">
        @foreach (var apartment in Model)
        {
            <div class="apartment-element">
                @Html.Partial("_apartmentPartial", apartment)
                @if (IsAuthenticated)
                {
                    <div class="interaction-buttons">
                        <div class="interaction-buttons-inner">
                            <button class="btn btn-primary" onclick="document.location='/Apartment/BookingApartment?apartmentId=@apartment.Id'">Booking</button>
                            <button class="btn btn-primary" onclick="document.location='/User/NotifyWhenFree?apartmentId=@apartment.Id'">Notify</button>
                            @if (IsAdmin)
                            {
                                <button class="btn btn-info" onclick="document.location='/Apartment/EditApartment?apartmentId=@apartment.Id'">Edit</button>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    <div class="side">
    </div>
</div>